language: go

go:
  - 1.12

matrix:
  fast_finish: true

env:
  global:
    GO111MODULE=on

install:
  - go get golang.org/x/lint/golint

script:
  - go build
  - golint -set_exit_status ./...
  - diff -u <(echo -n) <(gofmt -d .)
